@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


body {
  font-family:'Montserrat', sans-serif !important;
  font-size: 15px;
  font-weight: bold;
  margin: 0 30px;
}
.nav-link:hover::after {
  content: '';
  display: block;
  border-bottom: 3px solid rgb(54, 54, 54);
  width: 50%;
  margin: auto;
  padding-bottom: 5px;

}

.navbar-brand{
  width: 70%;
}

.navbar-expand-lg .navbar-nav .nav-link {
padding : 0 1em;
}

.title {
top: 4em;
font-size: 60px;
font-weight: bold;
/* border-bottom: 3px solid black; */
/* width:50%; */
}

.title-2 {
top: 5em;
font-size: 30px;
font-weight: bold;
/* border-bottom: 3px solid black; */
/* width:50%; */
}

.btn-2{
color: white;
margin-left:70em; 
margin-top:45em; 
background-color: black;
border-radius: 25px;
border-color: black;
}

.text-overlay {
position: absolute;
top: 9em;
left: 4.8em;
right: 1.5em;
font-size : 10px;
}


.margin-gambar{
margin-top: 2.5em;

}

.social-media{
width: 20%;

}

.btn{
  color: black;
  background-color: transparent;
}

