<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <title>Deija's Portofolio</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- My fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet"> 

    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <style>
    body {
        font-family:'Montserrat', sans-serif !important;
        font-size: 70px;
        font-weight: bold;
        margin: 0 30px;
    }
    .btn{
      color: black;
      background-color: transparent;
    }
    
    .text-overlay {
        position: absolute;
        top: 9em;
        left: 4.8em;
        right: 1.5em;
        font-size : 10px;
      }

    </style>
    </head>
    
    <body>

        <section class="section2">
            <div class="container">
              <div class="row">
                <div class="col-md-12" style="text-align: center">
                    <p style="margin-top: 2.5em;" class="title">HELLO</p>
                    <img class="margin-img" style="width:40%"  src="{% static 'gambar1.svg' %}">
                    <p class="title">WELCOME TO MY WEBSITE</p>
                    <div class="text-overlay">
                      <a href="{% url 'homepage:index' %}">
                        <button class="btn" style="margin-top: 22em;
                        margin-left: 15em">next</button>
                      </a>
                    </div>
                </div>
              </div>
            </div>
          </section>



    <!-- <link rel="stylessheet" href="style.css"> -->
     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>
</html>