<!DOCTYPE html>
{% load static %}

<html>

    <head>
        <title>
            Deija Profile
        </title>
        <style>
            body{
                background-color: beige;
            }
        </style>
    </head>

    <body>
        <header>
        <img src="{% static 'deijafoto.jpg' %}" style="width : 300px; height : 400px; position:absolute;top: 200px;left: 50px;">
        <img src="{% static 'makara-ui-fasilkom.png' %}" style="width : 300px; height : 300px; position:absolute;top: 250px;right: 50px;">
        <center>
            <h1>Deija Shakina Ayu</h1>
            <h3>NPM = 1906399373</h3>
            <h3>Angkatan = 2019</h3>
            <h3>Tempat Kuliah = Universitas Indonesia</h3>
            <h3>Hobi = menonton Netflix</h3>
            <br>
            <h3>Riwayat Pendidikan</h3>
            <table class="text-center" align="center">
                <tr>
                    <th>Tahun</th>
                    <th>Pendidikan</th>
                    <th>Jurusan</th>
                </tr>
                <tr>
                    <td>2005-2007</td>
                    <td>TK Perguruan Cikini</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>2007-2013</td>
                    <td>SD Perguruan Cikini</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>2013-2016</td>
                    <td>SMP Labschool Kebayoran</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>2016-2019</td>
                    <td>SMA Labschool Kebayoran</td>
                    <td>IPA</td>
                </tr>
                <tr>
                    <td>2019- sekarang</td>
                    <td>Universitas Indonesia</td>
                    <td>Fasilkom-Sistem Informasi</td>
                </tr>
            </table>
            <br>
            <h3>Sedikit Tentang Saya</h3>
            <p>Saya adalah orang yang sangat suka bercanda bersama teman.<br>
                Akhir- akhir ini sayang sedang sering-seringnya bermain<br>
                Among Us bersama teman-teman karena itu sangat menyenangkan<br>
                Saya sangat bersyukur dengan apa yang telah saya punya sekarang.
            </p>
            <br>
            <h3>Social Media</h3>
            <br>
            <div style="margin: auto; width: 200px;" align = "center">
            <a href="https://www.instagram.com/deijashakinaayu/"><img src="https://i.pinimg.com/originals/a2/5f/4f/a25f4f58938bbe61357ebca42d23866f.png" width="50" height="50"></img></a>
            <a href="https://wa.me/6287781019778"><img src="https://pngimg.com/uploads/whatsapp/whatsapp_PNG11.png" width="45" height="44"></img></a>
            <a href="https://line.me/R/ti/p/deijashakinaayu"><img src="https://1.bp.blogspot.com/-QHm3gv3zc0U/XyvL9d7C-VI/AAAAAAAACl8/OkKXjwmahkEs5E-AUt7ZGtCN1CZhjycxwCLcBGAsYHQ/s1600/Logo%2BLINE.png" width="60" height="50"></img></a>
            </div>
            <br>
        </center>
    </body>

</html>