<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <title>Deija's Portofolio</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- My fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet"> 

    <!-- My CSS -->

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <style>
      body {
          font-family:'Montserrat', sans-serif !important;
          font-size: 15px;
          font-weight: bold;
          margin: 0 30px;
      }
      .nav-link:hover::after {
          content: '';
          display: block;
          border-bottom: 3px solid rgb(54, 54, 54);
          width: 50%;
          margin: auto;
          padding-bottom: 5px;
      
      }

      .navbar-brand{
          width: 70%;
      }

      .navbar-expand-lg .navbar-nav .nav-link {
        padding : 0 1em;
      }

      .title {
        top: 4em;
        font-size: 60px;
        font-weight: bold;
        /* border-bottom: 3px solid black; */
        /* width:50%; */
      }

      .title-2 {
        top: 5em;
        font-size: 30px;
        font-weight: bold;
        /* border-bottom: 3px solid black; */
        /* width:50%; */
      }

      .btn-2{
        color: white;
        margin-left:70em; 
        margin-top:45em; 
        background-color: black;
        border-radius: 25px;
        border-color: black;
      }

      .text-overlay {
        position: absolute;
        top: 9em;
        left: 4.8em;
        right: 1.5em;
        font-size : 10px;
      }


      .margin-gambar{
        margin-top: 2.5em;
        
      }

      .social-media{
        width: 20%;

      }



    </style>
    <!-- akhir style -->
    
    </head>
    <body>


      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <ul class="nav justify-content-center"></ul>
          <a class="navbar-brand" href="#"><img src="{% static 'logo2.png' %}" alt="logo navbar"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
              <a class="nav-item nav-link active" href="#home-page">Home <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" href="#about">About</a>
              <a class="nav-item nav-link" href="#education">Education</a>
              <a class="nav-item nav-link disabled" href="#contact">Contact</a>
              <a class="nav-item nav-link disabled" href="{% url 'homepage:deijaprofile' %}">Story1</a>
            </div>
          </div>
        </ul>
        </div>
      </nav>
      <!-- Akhir navbar -->

      <!-- section 1 -->
      <section class="section1" id="home-page">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div style="text-align:center;margin-top:3em;">
                <p style="margin-top:4em" class="title">welcome :)</p>
              </div>
            </div>
            <div class="col-md-6">
              <img style="width:100%; margin-top: 3em;" src="{% static 'gambar1.jpg' %}">
              <div class="text-overlay">
                <p style="color:rgb(255, 255, 255)"><p style="color:rgb(255, 255, 255)">work portofolio<br><br><br>Hey guys, you could check-out my Profile and Check Out my<br> latest art work, hope you guys like it and if you guys are not,<br>I know why.</p></p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- akhir section 1 -->

      <!-- section 2 -->
      <section class="section2" id="about">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
                <img class="margin-img" style="width:100%; margin-top: 9em; margin-left: 10em;"  src="{% static 'about.png' %}">
                <div class="text-overlay">
                  <button class="btn-2">my work</button>
                </div>
            </div>
          </div>
        </div>
        </div>
        </section>
      </section>
      <!-- akhir sec 2 -->

      <!-- section 3  -->
      <section style="margin-top: 2em;"class="section3" id="education">
        <div class="container">
          <div class="row">
              <div class="col-md-6">
                <img style="width:100%; margin-top: 7em; margin-left:0" src="{% static 'gambar1.jpg' %}">
                </div>
                <div class="col-md-6">
                  <div style="text-align:center;margin-top: 4em;">
                    <p style="margin-top: 5em" class="title-2">Educational<br>Background<br><br></br.><img style="width:100%" src="{% static 'degree.jpg' %}"></p>
                    <div style="text-align: center;margin-top: 4em;"></div>
                  </div>
                </div>
            </div>
          </div>
      </section> 
      <!-- akhir section 3 -->

      <!-- section 4 -->
      <section class="section4" id="contact">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div style="text-align:center; margin-top:4em">
                <p style="margin-top: 5em;" class="title">
                  Contact Me<br>
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <a href="https://www.instagram.com/deijashakina/">
              <img class="social-media" src="{% static 'ig.png' %}">
            </a>
            <a href="http://line.me/ti/p/~deijashakinaayu">
              <img class="social-media" src="{% static 'line.png' %}">
            </a>
            <a href="https://wa.me/6287781019778">
              <img style="width:14%; margin-left:1.5em" src="{% static 'whatsapp.png' %}">
            </a>
            </div>
          </div>
        </div>
      </section>
      <!-- akhir section 4 -->

    </body>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>
</html>